*,
div {
    position: relative
}

* {
    user-select: none
}
::selection{
  background-color: #848484;
  color: #FFFFFF;
}
.header {
  opacity: 0;
  transform: translateY(-20px);
  animation: slideDownFadeIn 1s ease-out 0.2s forwards;
}

.content {
  opacity: 0;
  transform: translateY(10px);
  animation: slideUpFadeIn 1s ease-out 0.4s forwards;
}

.title {
  opacity: 0;
  transform: translateY(10px);
  animation: slideUpFadeIn 0.9s ease-out 0.9s forwards;
}

.description {
  opacity: 0;
  transform: translateY(10px);
  animation: slideUpFadeIn 0.9s ease-out 0.8s forwards;
}

.button {
  opacity: 0;
  transform: translateY(10px);
  animation: slideUpFadeIn 1s ease-out 1s forwards;
}

/* الكلاسات الأساسية للأنيميشن */
@keyframes slideDownFadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUpFadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

input[type="file"],
input[type="checkbox"],

button {
    -webkit-tap-highlight-color: transparent !important
}

div.inputDisable div.filename {
    user-select: none
}

div.header,
div.title {
    font-family: minecraft-ten
    
}
div.nane,
div.titlee {
    font-family: minecraft-five
}

a.link {
    user-select: text
    
}

a.link,
button,
input {
    cursor: pointer
}

* {
    font-family: minecraft;
    color: #000000;
    font-size: 14px
}

body {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #222222
}


body {
/*  background-image: url('/img/mcpreview.png');  */
  background-repeat: repeat;
  background-size: auto;
  background-position: 0 0; 
  background-color: 171717
}

body::-webkit-scrollbar {
    width: 5px
}

body::-webkit-scrollbar-thumb {
    background-color: #69696967
}
img {
  image-rendering: crisp-edges; /* يجعل الصورة أكثر وضوحًا */
  image-rendering: -webkit-optimize-contrast; /* تحسين الوضوح على متصفح كروم */
}

div.header {
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #4B4B4BC2;
    backdrop-filter: blur(8px); 
  -webkit-backdrop-filter: blur(5px);
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 100;
    font-size: 35px;
    position: static;
    border-bottom: 4px solid #282828;
    color: #B9B9B9;
    text-shadow: 0 4px 4px  #3F3F3F;
}

div.nane {
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #CF0CC5;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 100;
    font-size: 30px;
    position: static;
    border-bottom: 4px solid #6E0678
}

button,
div.content {
    position: relative
}

div.content {
  display: block;
  text-align: center;
  line-height: 23px;
  padding: 15px;
  background-color: #262626;
  border-bottom: 2px solid #383838;
}


div.description {
   margin-top: 5px;
    margin-bottom: 5px;
    height: calc(auto + 10px);
    width: calc(100% - 20px);
    color: #fff;
    padding: 10px;
  background-color: #262626;
  border-bottom: 2px solid #383838;
  
}

div.title {
    color: #FFFFFF; 
    font-size: 20px;
    margin-bottom: 2px
}

a.link {
    color: #C2C2C2;
     font-family: minecraft-five;
    text-decoration-line: none;
}

a.link:hover {
    color: #757575
    
}

.content-modal {
  display: flex;
  min-height: fill;
}

.dialog-modal {
  margin-top: 15px;
  max-width: 500px;
}

.dialog-modal-wrapper {
  margin-inline: 20px;
  border: 2px solid #000000;
}

.dialog-header {
  display: flex;
  padding: 10px;
  background-color: #505050;
  border: 2px solid #5e5e5e;
} 

.dialog-nane {
  display: flex;
  padding: 10px;
  background-color: #C40CD7;
  border: 2px solid #9606A5;
} 

.dialog-content {
  display: block;
  text-align: center;
  line-height: 23px;
  padding: 15px;
  background-color: #262626;
  border-bottom: 2px solid #383838;
}

.dialog-bottom-content {
  display: flex;
  padding: 2.5px;
  min-height: 40px;
  background-color: #262626;
  border-bottom: 2px solid #383838;
}

.button {
  margin: auto;
  border: 2px solid #000000;
}
.borderpic{
  margin:auto; 
  border: 2px solid #FF0000;
} 

.button:hover {
  margin: auto;
  border: 2px solid #00000000;
}


  .login-box input:hover {
  filter: blur(0);
  transform: scale(1.05);
  }
  .Pay input {
  width: 50%;
  padding: 10px;
  margin: auto;
  border: 2px solid #303233;
  box-shadow: 0px 3px 0px rgba(60, 60, 60, 1); 
  background: #1E1E1F;
  text-align: center;
  color: #FFFFFF;
  }
  .input-container {
  display: flex;
    
  }
  
input {
  width: 70%;
  padding: 10px;
  margin: auto;
  border: 2px solid #303233;
  box-shadow: 0px 3px 0px rgba(60, 60, 60, 1); 
  background: #1e1e1f;
  text-align: center;
  color: #FFFFFF;
  position: relative;
  overflow: hidden;
  transition: filter 0.5s, transform 0.3s;
    
  } 
  input:hover {
  filter: blur(0);
  transform: scale(1.05);
  }
  .points {
      font-size: auto; 
      color: #FFD952;
      text-shadow:0px 1px 0px #3A2700;
          
    }

       .back {
            position: absolute;
            border: none;
            top: 20px;
            left: 10px;
            cursor: pointer;
            padding: 10px;
            background: url(../icons/arrowBack-b77b1.png);
            background-size:  contain;
            background-position: center;
            background-repeat: no-repeat;
            z-index: 9999;
        } 
      
#whiteButton:hover {
    top: 2px;
    height: auto;
    width: 100%;
    position: relative;
    color: #262626;
    background-color: #A0A0A0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

#whiteButton {
  transition: all 0.5s;
  height: auto;
  width: 100%; 
  text-shadow: 1px 1px 2px #9F9F9F;
  border: 2px solid #3D3D3D;
  border: 2px solid #C4C4C4;
  background-color: #D9D9D9;
  box-shadow: 0px 3px 0px rgba(183, 183, 183, 1);
  font-size: 16px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding: 10px;
  margin:auto;
  font-family: minecraft-five;
}

#greenButton:hover { 
    background-color: #14520D;
    top: 2px;
    height: auto;
    width: 100%;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

#greenButton  {
  transition: all 0.5s;
  text-shadow: 1px 1px 2px #000000;
  background-color: #2C8014;
  color: #FFFFFF;
  height: auto;
  width: 100%; 
  border: 2px solid #4f913c;
  box-shadow: 0px 3px 0px #2D6721;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding: 10px;
  margin:auto;
}


#redButton:hover {
  top: 2px;
  height: auto;
  width: 100%;
  position: relative;
  background-color: #B60000;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

#redButton {
  transition: all 0.5s;
  text-shadow: 1px 1px 0.9px #000000;
  height: auto;
  width: 100%;
  border: 2px solid #4B0000;
  border: 2px solid #8E2727;
  background-color: #FF3838;
  box-shadow: 0px 3px 0px rgba(119, 30, 38, 1);
  font-size: 16px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding: 10px;
  color: #FFFFFF;
  margin: auto;
}

#purpleButton:hover {
  top: 2px;
  height: auto;
  width: 100%;
  position: relative;
  background-color: #A40EB6;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

#purpleButton {
  transition: all 0.5s;
  text-shadow: 1px 1px 0.9px #000000;
  height: auto;
  width: 100%;
  border: 2px solid #FE26FF;
  border: 2px solid #DD42E7;
  background-color: #C50DD8;
  box-shadow: 0px 3px 0px rgba(154, 5, 154, 1);
  font-size: 16px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding: 10px;
  color: #FFFFFF;
  margin: auto;
}
#goldButton:hover {
  top: 2px;
  height: auto;
  width: 100%;
  position: relative;
  background-color: #BEBB00;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

#goldButton {
  transition: all 0.5s;
  height: auto;
  width: 100%;
  border: 2px solid #FFFFFF;
  border: 2px solid #FFFB8D;
  background-color: #FFFB00;
  text-shadow: 1px 1px 2px #B9B600;
  box-shadow: 0px 3px 0px rgba(224, 155, 0, 1);
  font-size: 16px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding: 10px;
  color: #000000;
  margin: auto;
  font-family: Minecraft-five;
}

#blueButton:hover { 
    background-color: #1F0E91;
    top: 2px;
    height: auto;
    width: 100%;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

#blueButton  {
  transition: all 0.5s;
  text-shadow: 1px 1px 0.9px #000000;
  background-color: #2F16D9;
  color: #FFFFFF;
  height: auto;
  width: 100%; 
  border: 2px solid #3449FF;
  box-shadow: 0px 3px 0px #130999;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding: 10px;
  margin:auto;
}

#message-input {
  flex: 1;
  padding: 15px;
  outline: none;
  background-color: #1E1E1F; 
  border: 3px solid #303233;
  box-shadow: 0px 3px 0px rgba(60, 60, 60, 1);
  color: #FFFFFF;
  background: #1e1e1f;
  margin: auto;
  
}
    #points {
      color: #FFBC13; 
      font-size: 15px; 
    }